
  <!-- Banner -->
  <div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>&nbsp;</h3>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/img/FRISEUR-HAARESZEITEN-ws.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Stuttgart-Degerloch</h1>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
  </div><!-- /headerwrap -->
