<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include nav.html %}

        <!-- banner.html für Home/index.html, wrap.html für andere Seiten -->
        {% if page.title == "Home" %} 
            {% include banner.html %}
        {% else %}
            {% include wrap.html %}
        {% endif %}

            {{ content }}

        <!-- Kontakt, Impressum und 404 brauchen keinen Footer -->
        {% unless page.title == "Kontakt" or page.title == "Impressum" or page.title == "404 - Not found" %} 
            {% include footer.html %}
        {% endunless %}

        {% include js.html %}
        
    </body>

</html>