<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include nav.html %}

        <!-- banner.html für Home/index.html, wrap.html für andere Seiten -->
        {% if page.title == "Home" %} 
            {% include banner.html %}
        {% else %}
            {% include wrap.html %}
        {% endif %}

            {{ content }}

        <!-- footer: yes in Frontmatter? -->
        {% if page.footer == true %}
            {% include footer.html %}
        {% endif %}

        {% include js.html %}
        
    </body>

</html>